@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
    font-family: Goldman, sans-serif;
}

body {
    color: white;
    text-align: -moz-center;
    text-align: -webkit-center;
    background-image: url("../img/andromeda.jpg");
    background-size: cover;
}

input {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border: white;
    border-radius: 20%;
    outline: none;
    font-size: 2rem;
    text-align: center;
}

label {
    font-size: 3rem;
}

label, input {
    display: inline-block;
}

input:focus {
    background-color: darkgray;
}

button {
    display: block;
    font-size: 3rem;
}

#counter-inputs {
    padding-top: 11rem;
}

.hour, .min, .sec {
    display: inline-block;
    font-size: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10%;
}

.colon {
    font-size: 10rem;
}

#timer {
    display: none;
}

.count {
    width: 20%;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: darkslateblue;
    margin-top: 3rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

.pause, .resume, .startOver {
    width: 30%;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin-top: 0.5rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

.pause {
    background-color: #ecbc1e;
}

.pause:focus {
    background-color: #d0a51a;
}

.resume {
    background-color: #36ab22;
}

.resume:focus {
    background-color: #277919;
}

.startOver {
    background-color: #d73232;
}

.startOver:focus {
    background-color: #c42f2f;
}


.count:hover {
    background-color: mediumslateblue;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 1024px) {
    label, input {
        display: block;
        width: 50%;
        border-radius: 2rem;
    }

    .count {
        width: 100%
    }

    #counter-inputs {
        padding-top: 2rem;
    }

    .pause, .resume, .startOver {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .hour, .min, .sec, .colon {
        font-size: 3rem;
    }
    .pause, .resume, .startOver {
    font-size: 2rem;
    }
    }

