@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
    font-family: Goldman, sans-serif;

}

body {
    background-image: url("../img/andromeda.jpg");
    background-size: cover;
}

label, input {
    display: inline-block;
}

button {
    display: block;
}
